<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
    <!-- 引入Bootstrap的CSS文件 -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">用户登录</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" name="usr" placeholder="用户名" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="password" name="psw" placeholder="密码" class="form-control">
                    </div>
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary">登录</button>
                    </div>
                    <div class="mb-3 text-center">
                        <a href="{% url 'register' %}" class="btn btn-link">注册账号</a>
                        <a href="{% url 'loginManager' %}" class="btn btn-link">管理员登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 引入Bootstrap的JavaScript文件 -->
    <footer class="text-center py-4">
      <p>&copy; 2023 网上书店系统</p>
    </footer>
    <script src="/static/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</body>
{% include "script.html" %}
</html>