<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>用户审核</title>
    <!-- 引入Bootstrap的CSS文件 -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
  {% include "navigateManage.html" %}

    <div class="container mt-4">
        <h1>用户审核</h1>
        <form method="post">
            {% csrf_token %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>选择</th>
                        <th>用户编号</th>
                        <th>用户名</th>
                        <th>联系方式</th>
                        <th>地址</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <!-- 复选框用于选择用户 -->
                                <input type="checkbox" name="selected_users" value="{{ user.unum }}">
                            </td>
                            <td>{{ user.unum }}</td>
                            <td>{{ user.uname }}</td>
                            <td>{{ user.contact }}</td>
                            <td>{{ user.address }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">批量审核通过</button>
        </form>
    </div>
    
    <!-- 引入Bootstrap的JavaScript文件 -->
    <footer class="text-center py-4">
      <p>&copy; 2023 网上书店系统</p>
    </footer>
    <script src="/static/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</body>
{% include "script.html" %}
</html>